@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@variant dark (.dark &);

@theme {
  --font-sans:
    "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Forzar que las clases dark funcionen */
.dark {
  color-scheme: dark;
}

:root {
  color-scheme: light;
}

/* Test directo para verificar que dark funciona */
.dark .bg-gray-50 {
  background-color: rgb(17 24 39) !important;
}

.dark .text-gray-900 {
  color: rgb(243 244 246) !important;
}
.logo {
  font-family: "Honk", cursive;
}
